body{

	background-color: lightblue;
}

header{

	width:1300px;
	height: 70px;
	top: 0; left: 0; right: 0;
	background: #ffffff;
	box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
	padding: 3px 1px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	


}

nav ul li{

	display: inline-block;
	line-height: 20px;
	margin: 0 2px;

}

nav ul li a{
	font-size: 14px;
	padding: 30px 50px;
	color: cadetblue;

}


div.social ul{

	background-color: cadetblue;
	width: 425px;
}
div.social ul li{

	display: inline-block;
	padding: 5px 20px;
	font-size: 35px;
	


}

div.social ul li a{

	color: aliceblue;

}